button{
    display: block;
    background-color: rgb(57, 151, 238);
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(30, 75, 117);
    transition: 0.5s;
}
